html, body{
	height:100%;
	}
	
h1{
	font-size:3em;
	font-weight:bold;
	padding: 1em;
}

h2{
	font-size:2em;
	font-style:italic;
}

#area_1{
	background-color:#E86731;
	
	text-align:center;
	min-height: 100%;
}

#user_input{
	background-color:rgb(255,255,255);
	background-color:rgba(255,255,255,0.92);
	color:black;
	width:50%;
	margin:auto;
	padding:2%;
	-webkit-border-bottom-left-radius:15px;
	-webkit-border-bottom-right-radius:15px;	
	-moz-border-bottom-left-radius:15px;
	-moz-border-bottom-right-radius:15px;	
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}

form{
	display:inline-block;
	text-align:left;
	padding-top: 100px;
	}
	
	form p{
		padding-bottom: 3em;
		
	}

	input, button{
		height:30px;
		}
			
	#submit{
		width:100%;
		font-size:1.5em;
		height:2em;	
		-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
		-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
		box-shadow:inset 0px 1px 0px 0px #cae3fc;
			
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff ), color-stop(1, #4197ee ) );
		background:-moz-linear-gradient( center top, #79bbff  5%, #4197ee  100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff ', endColorstr='#4197ee ');
		background-color:#79bbff ;
			
		-webkit-border-radius:15px;
		-moz-border-radius:15px;
		border-radius:15px;
			
		border:1px solid #469df5;
		color:#ffffff;
		font-family:Arial;
		font-weight:bold;

		text-shadow:1px 1px 0px #287ace;
	}
	#submit:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee ), color-stop(1, #79bbff ) );
		background:-moz-linear-gradient( center top, #4197ee  5%, #79bbff  100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee ', endColorstr='#79bbff ');
		background-color:#4197ee ;
	}#submit:active {
		position:relative;
		top:1px;
	}

#results{
		padding-top:20px;
		}
	
	#table_of_results{
		width:50%;
		margin:auto;
		
	}
	#table_of_results tbody{
		text-align:right;
		}
		
		#table_of_results td{
				padding: 1em;
				border: solid black 1px;
			}
	
	